
# Non-free files
fonts/

# Typical temp or old files
.~lock.*
*~

# Limbo object files
*.dis
*.sbl

# Useless OS entries
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Object files
o.emu
*.out
*.o
*.a

# Yacc/bison files
*.debug
!appl/svc/httpd/httpd.debug
*.tab.h
*.tab.c

# Misc
error.log
emu/MacOSX/emu.c
emu/MacOSX/emu.root.c
emu/MacOSX/emu.root.h
emu/MacOSX/errstr.h
emu/MacOSX/srv.h
emu/MacOSX/srvm.h
libinterp/cryptmod.h
libinterp/drawmod.h
libinterp/freetypemod.h
libinterp/ipintsmod.h
libinterp/keyring.h
libinterp/keyringif.h
libinterp/loadermod.h
libinterp/mathmod.h
libinterp/runt.h
libinterp/sysmod.h
libinterp/tkmod.h
Linux/386/bin/data2c
Linux/386/bin/iyacc
Linux/386/bin/mk
Linux/386/bin/mkext
emu/Linux/emu
emu/Linux/emu-g
utils/mk/mk
Linux/386/bin/0a
Linux/386/bin/0c
Linux/386/bin/0l
Linux/386/bin/1a
Linux/386/bin/1c
Linux/386/bin/1l
Linux/386/bin/2a
Linux/386/bin/2c
Linux/386/bin/2l
Linux/386/bin/5a
Linux/386/bin/5c
Linux/386/bin/5coff
Linux/386/bin/5cv
Linux/386/bin/5l
Linux/386/bin/8a
Linux/386/bin/8c
Linux/386/bin/8l
Linux/386/bin/acid
Linux/386/bin/asm
Linux/386/bin/c2l
Linux/386/bin/data2s
Linux/386/bin/emu
Linux/386/bin/ftl
Linux/386/bin/iar
Linux/386/bin/idea
Linux/386/bin/inm
Linux/386/bin/ka
Linux/386/bin/kc
Linux/386/bin/kl
Linux/386/bin/kprof
Linux/386/bin/ksize
Linux/386/bin/kstrip
Linux/386/bin/limbo
Linux/386/bin/md5sum
Linux/386/bin/mk.save
Linux/386/bin/mkppcimage
Linux/386/bin/ms2
Linux/386/bin/ndate
Linux/386/bin/qa
Linux/386/bin/qc
Linux/386/bin/ql
Linux/386/bin/sqz
Linux/386/bin/srclist
Linux/386/bin/styxtest
Linux/386/bin/tc
Linux/386/bin/va
Linux/386/bin/vc
Linux/386/bin/vl
emu/Linux/emu.c
emu/Linux/emu.root.c
emu/Linux/emu.root.h
emu/Linux/errstr.h
emu/Linux/srv.h
emu/Linux/srvm.h


# Swap files (e.g. vim-generated)
*.swp
*.swo

# Hostsystem-dependant files
mkconfig
